.globalColor1 {
  background-color: #e1204d;
}

.globaltext1 {
  color: #e1204d;
}
.sidebarColor1{
  background-color: rgb(35,40,45);
}


h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}
/* 
.btn {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn-primary,
.btn-secondary {
  color: #ffffff;
}

.btn-primary:hover {
  background: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
} */

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.top-shape::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 100%;
  top: 0;
  left: -17px;
  background: var(--primary);
  transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Jost", sans-serif;
  padding: 32px;
  font-size: 15px;
  color: var(--secondary);
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--dark);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

 /*cards  */
.card19 {
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
  color: white;
  cursor: pointer;
}

.card19:hover {
  color: white;
  transform: scale(1.1);
}
.card20:hover {
  transition: all 0.5s;
  cursor: pointer;
  background-color: rgb(225, 32, 77);
  transform: scale(1);
}
.card20 span:hover {
  color: white;
}

/* our services cards  */
@import url("https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 
  font-family: "Ubuntu", sans-serif;
}
.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 350px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}
.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);

 
}
.our-services:hover h4,
.our-services:hover p {
  color: #fff;
}
.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #e1204d 0%, #e1204d 100%);
}
.settings:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #e1204d 0%, #e1204d 100%);
}
.privacy:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #e1204d 0%, #e1204d 100%);
}
.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #e1204d 0%, #e1204d 100%);
}
.ssl:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #e1204d 0%, #e1204d 100%);
}
.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #e1204d 0%, #e1204d 100%);
}

.card21 {
  background-image: url("https://media.istockphoto.com/illustrations/abstract-blurred-background-illustration-id959516684?k=20&m=959516684&s=612x612&w=0&h=pypAtbfE3jKtaONNtSBgzgUcpF1UDy9us1iAnr7prJE=");
  background-repeat: no-repeat;
  background-size: cover;
}



/* Sticky Social Bar*/
.icon-Homebar {
  position: fixed;
  top: 50%;
  right:0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}

.icon-Homebar a {
  display: block;
  text-align: center;
  padding: 9px 14px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  margin-bottom: 2px;
}

.icon-Homebar a:hover {
  background-color: #000;
}

.phone {
  background: rgb(18, 86, 136);
  color: white;
}

.facebook {
  background: #25d366;
  color: white;
}

.email {
  background: #dd4b39;
  color: white;
}

/* info cards */

.testimotionals {
display: flex;
justify-content: center;

}

.testimotionals .card {
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 260px;
  min-height:330px;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5); */
  border-radius: 15px;
}
.testimotionals .card .layer {
  z-index: 1;
  position: absolute;
  top: calc(100% - 0px);
  height: 100%;
  width: 100%;
  left: 0;
  background: linear-gradient(to left, #e1204d, #e1204d);
  transition: 1.9s;
}

.testimotionals .card .content {
  z-index: 2;
  position: relative;
}

.testimotionals .card:hover .layer {
  top: 0;
}

.testimotionals .card .content p {
  font-size: 15px;
  line-height: 25px;
  color: grey;
}
.testimotionals .card .content .image {
 
  width: 220px;
  height: 160px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid white;
}

.testimotionals .card:hover .content p{
  color: white;
  transition: 1.5s;

}



/* sidebar scrollbar  hide */
.example20 {
 
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example20::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example20 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}